<template id="about-template">
  <div class="about">
    <app-container>
      <div class="about-wrapper">
        <section id="about">
          <h1 class="title">Кому мы служим</h1>
          <div class="about-cards">
            <app-about-card
              img="../../assets/icons/gear-six.svg"
              title="BIOMEDICAL (HTM)"
              text="We provide reliable, honest repair services ranging from simple preventative maintenance and troubleshooting, to more complicated component level and software related issues"
            ></app-about-card>
            <app-about-card
              img="../../assets/icons/pharmacy.svg"
              title="HOME PHARMACY"
              text="We provide pharmacists a comprehensive service that includes regular PM service, repair programs, and rental options to ensure every patient has a safe and effective home infusion device"
            ></app-about-card>
            <app-about-card
              img="../../assets/icons/surgery-tools.svg"
              title="SURGERY CENTERS"
              text="We provide complete maintenance programs and equipment repair services that keep your Operating Rooms functioning efficiently and running at full capacity"
            ></app-about-card>
          </div>
          <img class="about-wave" src="../../assets/img/wave.png" alt="wave" />
        </section>
        <section id="whatWeDo">
          <h1 class="title">Что мы делаем</h1>
          <div class="about-banner">
            <div class="about-banner__item-image" style="grid-area: item1">
              <img src="../../assets/img/Rectangle 51.png" alt="image" />
            </div>
            <div class="about-banner__item-text" style="grid-area: item2">
              <h3>ON-SITE MAINTENANCE</h3>
              <p>
                Authorized service by certified technicians who can repair a
                wide range of medical equipment.
              </p>
            </div>
            <div class="about-banner__item-image" style="grid-area: item3">
              <img src="../../assets/img/Rectangle 46.png" alt="image" />
            </div>
            <div class="about-banner__item-text" style="grid-area: item4">
              <h3>SALES & RENTALS</h3>
              <p>
                Authorized service by certified technicians who can repair a
                wide range of medical equipment.
              </p>
            </div>
            <div class="about-banner__item-text" style="grid-area: item5">
              <h3>DEPOT REPAIR</h3>
              <p>
                Authorized service by certified technicians who can repair a
                wide range of medical equipment.
              </p>
            </div>
            <div class="about-banner__item-image" style="grid-area: item6">
              <img src="../../assets/img/Rectangle 49.png" alt="image" />
            </div>
            <div class="about-banner__item-text" style="grid-area: item7">
              <h3>ELECTRICAL SAFETY</h3>
              <p>
                Authorized service by certified technicians who can repair a
                wide range of medical equipment.
              </p>
            </div>
            <div class="about-banner__item-image" style="grid-area: item8">
              <img src="../../assets/img/Rectangle 51.png" alt="image" />
            </div>
          </div>
          <img
            class="about-wave-2"
            src="../../assets/img/wave-2.png"
            alt="wave"
          />
        </section>
      </div>
    </app-container>
  </div>
</template>
