<template id="about-template">
  <div class="about">
    <app-container>
      <div class="about-wrapper">
        <section id="about">
          <h1 class="title">Преимущества</h1>
          <div class="about-cards">
            <app-about-card
              img="../../assets/icons/gear-six.svg"
              title="Высокая антимикробная активность"
              text="Наши соединения проявляют антимикробную активность при достаточно низких концентрациях. 
При 0,001% по активному компоненту составы уже убивают бактерии."
            ></app-about-card>
            <app-about-card
              img="../../assets/icons/pharmacy.svg"
              title="Отсутствие резистентности"
              text="В научной литературе не зафиксированы случаи резистентности микроорганизмов на компоненты нашего средства, а значит это позволит увеличить эффективность средства."
            ></app-about-card>
            <app-about-card
              img="../../assets/img/colb.png"
              title="Доступная стоимость"
              text="Мы используем качественное сырьё, благодаря которому удаётся снизить себестоимость продукта и сделать его более безопасным для экологии."
            ></app-about-card>
          </div>
          <img class="about-wave" src="../../assets/img/wave.png" alt="wave" />
        </section>
        <section id="whatWeDo">
          <h1 class="title">Что мы делаем</h1>
          <div class="about-banner">
            <div class="about-banner__item-image" style="grid-area: item1">
              <img src="../../assets/img/Rectangle 51.png" alt="image" />
            </div>
            <div class="about-banner__item-text" style="grid-area: item2">
              <h3>Синтез</h3>
              <p>
                Соблюдая необходимые технологии, мы проводим синтез вещества на
                современнном оборудовании.
              </p>
              <img src="../../assets/icons/compound.svg" alt="compound" class="reverse" />
            </div>
            <div class="about-banner__item-image" style="grid-area: item3">
              <img src="../../assets/img/Rectangle 51.png" alt="image" />
            </div>
            <div class="about-banner__item-text" style="grid-area: item4">
              <h3>Конечный продукт</h3>
              <p>
                Учитывая всю собранную информацию и результаты исследований, мы
                синтезируем продукт, готовый к исользованию.
              </p>
              <img src="../../assets/icons/compound.svg" alt="compound" class="reverse" />
            </div>
            <div class="about-banner__item-text" style="grid-area: item5">
              <h3>Разработка состава</h3>
              <p>
                Используя обширные знания в области физиологически активных
                вещнеств, мы ищем новые, более активные составы фармкомпозиций.
              </p>
              <img src="../../assets/icons/compound.svg" alt="compound" />
            </div>
            <div class="about-banner__item-image" style="grid-area: item6">
              <img src="../../assets/img/Rectangle 51.png" alt="image" />
            </div>
            <div class="about-banner__item-text" style="grid-area: item7">
              <h3>Анализ</h3>
              <p>
                С помощью микробиологических лабораторий мы анализируем
                получившиеся соединения на предмет эффективности и токсичности
              </p>
              <img src="../../assets/icons/compound.svg" alt="compound" />
            </div>
            <div class="about-banner__item-image" style="grid-area: item8">
              <img src="../../assets/img/Rectangle 51.png" alt="image" />
            </div>
          </div>
          <img
            class="about-wave-2"
            src="../../assets/img/wave-2.png"
            alt="wave"
          />
        </section>
      </div>
    </app-container>
  </div>
</template>
