<template id="footer-template">
  <section id="contact">
    <div style="background-color: #fff; position: relative">
      <app-container>
        <div class="footer">
          <div class="footer-inner">
            <div class="footer-logo">
              <a href="">
                <img src="../../assets/icons/logo.svg" alt="logo" />
              </a>
              <div class="footer-logo__partner">
                <a href="https://www.fasie.ru/" target="_blank">
                  <img src="../../assets/img/fasie.png" alt="logo" />
                </a>
              </div>
            </div>
            <div class="footer-info">
              <div class="footer-info__link">
                <h1>Важные ссылки</h1>
                <ul class="footer-info-list">
                  <li>
                    <button data-target="about">О Нас</button>
                  </li>
                  <li>
                    <button data-target="whatWeDo">Что мы делаем</button>
                  </li>
                  <li>
                    <button data-target="products">Продукция</button>
                  </li>
                  <li class="footer-info-list__hidden">
                    <button data-target="certificates">Сертификаты</button>
                  </li>
                  <li class="footer-info-list__hidden">
                    <button data-target="contact">Контакты</button>
                  </li>
                </ul>
              </div>
              <div class="footer-info__link">
                <h1>Важные ссылки</h1>
                <ul class="footer-info-list">
                  <li>
                    <button data-target="certificates">Сертификаты</button>
                  </li>
                  <li>
                    <button data-target="contact">Контакты</button>
                  </li>
                </ul>
              </div>
              <div class="footer-info__contact">
                <h1>Контакты</h1>
                <ul class="footer-info-list">
                  <li>
                    <img src="../../assets/icons/phone_2.svg" alt="phone" />
                    <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                  </li>
                  <li>
                    <img src="../../assets/icons/email_2.svg" alt="email" />
                    <a href="mailto:email@test.com">email@test.com</a>
                  </li>
                  <li>
                    <img src="../../assets/icons/globe.svg" alt="globe" />
                    <a href="http://dezhimtech.com">dezhimtech.com</a>
                  </li>
                  <li>
                    <img src="../../assets/icons/map.svg" alt="map" />
                    <a
                      target="_blank"
                      href="https://yandex.ru/maps/43/kazan/house/peterburgskaya_ulitsa_50k5/YEAYdwRhQUQPQFtvfXt5cHRiZw==/?indoorLevel=1&ll=49.131819%2C55.781813&z=17.12"
                      >г. Казань, ул. Перербургская, зд.50, к.5 помещ. 1к
                      (426)</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer-info__mobile">
              <h1>Контакты</h1>
              <ul class="footer-info-list mobile">
                <li>
                  <img src="../../assets/icons/phone_2.svg" alt="phone" />
                  <a href="tel:+79999999999">+7 (999) 999-99-99</a>
                </li>
                <li>
                  <img src="../../assets/icons/email_2.svg" alt="email" />
                  <a href="mailto:email@test.com">email@test.com</a>
                </li>
                <li>
                  <img src="../../assets/icons/globe.svg" alt="globe" />
                  <a href="http://dezhimtech.com">dezhimtech.com</a>
                </li>
                <li>
                  <img src="../../assets/icons/map.svg" alt="map" />
                  <a
                    target="_blank"
                    href="https://yandex.ru/maps/43/kazan/house/peterburgskaya_ulitsa_50k5/YEAYdwRhQUQPQFtvfXt5cHRiZw==/?indoorLevel=1&ll=49.131819%2C55.781813&z=17.12"
                    >г. Казань, ул. Перербургская, зд.50, к.5 помещ. 1к (426)</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </app-container>
      <div class="footer-under">
        <p>
          © 2026 ООО «ДезХимТех».
          <span>
            <a
              href="privacy-policy.html"
              target="_blank"
              class="footer-under__link"
              >Политика конфиденциальности</a
            >
            |
            <a
              href="user-agreement.html"
              target="_blank"
              class="footer-under__link"
              >Пользовательское соглашение</a
            >
          </span>
        </p>
      </div>
    </div>
  </section>
</template>
