<template id="certificates-template">
  <section id="certificates">
    <app-container>
      <div class="certificates">
        <h1 class="title">Сертификаты</h1>
        <div class="certificates-more">
          <div class="certificates-container">
            <div class="certificates-list">
              <a
                href="../../assets/img/certificates_3.jpg"
                target="_blank"
                class="certificates-list__item"
              >
                <img
                  src="../../assets/img/certificates_3.jpg"
                  alt="certificate"
                />
              </a>
              <a
                href="../../assets/img/certificates_3.jpg"
                target="_blank"
                class="certificates-list__item"
              >
                <img
                  src="../../assets/img/certificates_3.jpg"
                  alt="certificate"
                />
              </a>
              <a
                href="../../assets/img/certificates_3.jpg"
                target="_blank"
                class="certificates-list__item"
              >
                <img
                  src="../../assets/img/certificates_3.jpg"
                  alt="certificate"
                />
              </a>
            </div>
          </div>
          <a id="read-more-certificates-btn" class="certificates-more_btn"></a>
        </div>
      </div>
    </app-container>
  </section>
</template>
