<template id="product-template">
  <div class="product">
    <div class="product-img">
      <img alt="product" id="img" />
    </div>
    <div class="product-description">
      <h1 id="title"></h1>
      <div class="product-more">
        <div class="product-text">
          <p id="text"></p>
        </div>
        <a id="read-more-product-btn" class="product-more_btn"></a>
      </div>
      <div class="product-compound">
        <h1>Состав</h1>
        <ul id="compound_list" class="product-compound__list"></ul>
      </div>
    </div>
  </div>
</template>
