<template id="products-template">
  <section id="products">
    <div style="background-color: #fff">
      <app-container>
        <div class="products">
          <h1 class="title">Продукция</h1>
          <div class="products-list">
            <app-product
              img="../../assets/img/product_1.webp"
              title="Дезинфицирующее средство для ветеринарии «Протего»"
              text="Дезинфицирующее средство для ветеринарии «Протего»Дезинфицирующее средство для ветеринарии Протего — универсальный дезинфицирующий препарат, разработанный для эффективной очистки и обеззараживания поверхностей для ветеринарии. Средство быстро уничтожает широкий спектр патогенных микроорганизмов, включая бактерии, вирусы и грибки, обеспечивая длительную защиту и предотвращая повторное загрязнение. Формула мягко воздействует на обрабатываемые материалы и подходит как для бытового, так и для профессионального применения. Средство легко наносится, быстро высыхает, не оставляет липких следов и обладает нейтральным ароматом. Рекомендуется для использования в стойлах, манежах, загонах и других сельскохозяйственных и технических помещениях, где находятся животные."
              note="Лучше подводить, используя средства индивидуальной защиты (перчатки и маску)."
              compound="Этиловый спирт;Фосфониевая соль;Парфюмерная композиция;Функциональные добавки (увлажняющие, стабилизирующие компоненты)"
              compound_note="Безопасен для животных и персонала"
            ></app-product>
          </div>
          <button data-target="form" class="btn_type-2">
            Узнать подробнее
          </button>
        </div>
      </app-container>
    </div>
  </section>
</template>
