<template id="products-template">
  <section id="products">
    <div style="background-color: #fff">
      <app-container>
        <div class="products">
          <h1 class="title">Продукция</h1>
          <div class="products-list">
            <app-product
              img="../../assets/img/product_1.jpg"
              title="Дезинфицирующее средство для ветеринарии ДезХимТех"
              text="Дезинфицирующее средство для ветеринарии ДезХимТех — универсальный антисептический препарат, разработанный для эффективной очистки и обеззараживания поверхностей. Средство быстро устраняет широким спектр патогенных микроорганизмов, включая бактерии, вирусы и грибки, обеспечивая длительную защиту и предотвращая повторное загрязнение. Формула отличается мягким воздействием на обрабатываемые материалы и подходит как для бытового, так и для профессионального применения. Средство легко наносится, быстро высыхает, не оставляет липких следов и обладает нейтральным ароматом. Рекомендуется для использования в помещениях с повышенными требованиями к гигиене: медицинских учреждениях, предприятиях общественного питания, детских учреждениях и домашних условиях."
              compound="Вода очищенная — 55–70%;Изопропиловый спирт (или этиловый спирт 70%) — 20–30%;ЧАС (четвертичные аммониевые соединения) — 0,05–0,2%;Глицерин — 1–3%;Парфюмерная композиция — до 0,5%;Консерванты — 0,05–0,1%;Функциональные добавки (увлажняющие, стабилизирующие компоненты) — до 1%"
            ></app-product>
          </div>
          <button data-target="form" class="btn_type-2">
            Узнать подробнее
          </button>
        </div>
      </app-container>
    </div>
  </section>
</template>
