<template id="welcome-template">
  <div class="welcome">
    <app-container>
      <div class="welcome_wrapper">
        <h1 class="welcome-title">Your source for Multiple Solutions</h1>
        <ul class="welcome-list">
          <li class="welcome-list__item">
            <img src="../../assets/icons/check.svg" alt="check" />
            <span>Equipment repair and PM Service</span>
          </li>
          <li class="welcome-list__item">
            <img src="../../assets/icons/check.svg" alt="check" />
            <span>Guaranteed Cost Savings vs. OEM</span>
          </li>
          <li class="welcome-list__item">
            <img src="../../assets/icons/check.svg" alt="check" />
            <span>Support for "End of life" Equipment</span>
          </li>
          <li class="welcome-list__item">
            <img src="../../assets/icons/check.svg" alt="check" />
            <span>Replacement Equipment Available</span>
          </li>
        </ul>
        <div>
          <button data-target="products" class="welcome-btn btn_type-2">
            Посмотреть продукцию
          </button>
        </div>
      </div>
    </app-container>
  </div>
</template>
