.about {
  position: relative;
  background: #fff;
  overflow: hidden;

  #about,
  #whatWeDo {
    padding-top: 100px;
    position: relative;
  }

  &-wave {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;

    &-2 {
      position: absolute;
      top: 150px;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 1;
    }
  }

  &-wrapper {
    position: relative;
    width: 100%;
    margin: 0 auto;
  }

  &-cards {
    position: relative;
    width: 100%;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    justify-content: space-between;
    place-items: center;
    gap: 50px;
  }

  &-banner {
    position: relative;
    margin-top: 100px;
    display: grid;
    grid-template-areas:
      "item1 item2 item3 item4"
      "item5 item6 item7 item8";
    z-index: 2;

    &__item {
      display: flex;
      align-items: center;
      justify-content: center;

      &-image img {
        width: 100%;
        height: 100%;
      }

      &-text {
        background: rgba(237, 237, 237, 1);
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        justify-content: center;
        padding: 0 30px;

        h3 {
          color: #008810;
          font-weight: 500;
          font-size: 24px;
        }

        p {
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 1180px) {
  .about {
    &-banner {
      grid-template-areas:
        "item1 item2"
        "item4 item3"
        "item6 item5"
        "item7 item8";
    }

    &-plus {
      top: 32%;
      left: -100px;
    }
  }
}

@media (max-width: 720px) {
  .about {
    #about,
    #what-we-do {
      padding-top: 50px;
    }

    .container {
      padding: 0 !important;
    }

    &-wrapper {
      gap: 50px;
    }

    &-cards {
      box-sizing: border-box;
      margin-top: 50px;
      padding: 0 20px;
    }

    &-banner {
      margin-top: 50px;
      grid-template-areas:
        "item1"
        "item2"
        "item3"
        "item4"
        "item6"
        "item5"
        "item8"
        "item7";

      &__item {
        &-text {
          padding: 30px 0;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .about {
    &-cards {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    &-wave {
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

@media (max-width: 810px) {
  .about {
    &-cards {
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    }
  }
}

@media (max-width: 500px) {
  .about {
    &-cards {
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: 30px;
    }
  }
}
