.alert {
  position: fixed;
  bottom: -150px;
  left: 50%;
  z-index: 160;
  transform: translate(-50%, 0);
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  overflow: hidden;

  &-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 500;
    color: #000;

    &__bg {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      z-index: 0;
    }
  }

  &-icon {
    z-index: 2;
  }
  &-text {
    z-index: 2;
  }

  &.err,
  &.ok {
    bottom: 50px;

    .alert-wrapper {
      &__bg {
        background-color: #f5f5f5;
        animation: timer 10s linear infinite;
      }
    }
  }
}

@keyframes timer {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@media (max-width: 780px) {
  .alert {
    width: calc(100% - 30px);

    &-wrapper {
      font-size: 14px;
    }
  }
}
