.certificates {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  gap: 100px;

  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;

    &__item {
      justify-self: center;
      width: 100%;
      max-width: 400px;
      box-shadow: 0px 4px 41px 0px rgba(0, 0, 0, 0.09);
      transition: all 0.2s ease-in-out;

      &:hover {
        box-shadow: 0px 4px 41px 0px rgba(0, 0, 0, 0.19);
      }

      img {
        width: 100%;
      }
    }
  }

  &-more {
    &_btn {
      display: none;
      cursor: pointer;
      text-decoration: none;
      color: #73c27e;
      font-size: 18px;
      font-weight: 500;
      padding-top: 30px;
      text-align: center;
      width: 100%;

      &.open {
        &::before {
          content: "Скрыть";
        }
      }

      &::before {
        content: "Показать все...";
      }
    }
  }
}

@media (max-width: 1080px) {
  .certificates {
    &-list {
      grid-template-columns: repeat(2, minmax(0, 1fr));

      &__item:last-child {
        grid-column: span 2;
      }
    }

    &-container {
      overflow: hidden;
      position: relative;
      height: 300px;
      transition: all 0.2s ease-in-out;

      &.open {
        &::before {
          display: none;
        }
      }

      &::before {
        width: 100%;
        height: 10px;
        top: 100%;
        left: 0;
        content: "";
        position: absolute;
        box-shadow: 0px 0px 40px 40px rgb(243, 243, 243);
      }
    }

    &-more {
      &_btn {
        display: inline-block;
      }
    }
  }
}

@media (max-width: 680px) {
  .certificates {
    &-list {
      grid-template-columns: repeat(1, minmax(0, 1fr));

      &__item:last-child {
        grid-column: auto;
      }
    }
  }
}

@media (max-width: 720px) {
  .certificates {
    padding: 50px 0;
    gap: 50px;
  }
}
