.footer {
  display: flex;
  flex-direction: column;

  &-inner {
    display: flex;
    padding: 100px 100px 50px 100px;
  }

  &-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    margin-right: 50px;

    img {
      width: 100%;
    }

    &__partner {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 20px;

      h1 {
        font-weight: 500;
      }

      img {
        max-width: 300px;
        height: 150px;
      }
    }
  }

  &-info {
    display: flex;
    justify-content: space-between;
    flex: 1;
    gap: 20px;

    &__link,
    &__contact {
      display: flex;
      flex-direction: column;
      gap: 15px;

      h1 {
        font-weight: 500;
        font-size: 24px;
        line-height: 39px;
      }
    }

    &__mobile {
      display: none;
      flex-direction: column;
      width: 100%;
      max-width: none;

      h1 {
        font-weight: 500;
        font-size: 24px;
        line-height: 39px;
      }

      .mobile {
        display: grid;
        grid-template-columns: 1fr 1fr;

        li {
          display: flex;
          align-items: center;
          gap: 15px;
          font-weight: 500;
        }
      }
    }

    &__contact {
      max-width: 400px;

      li {
        display: flex;
        align-items: center;
        gap: 15px;
        font-weight: 500;
      }

      &-social {
        display: flex;
        gap: 15px;
        width: 100%;

        #telegram,
        #vk {
          color: #000;
          transition: all 0.2s ease-in-out;
        }

        #telegram:hover {
          color: #0088cc;
        }

        #vk:hover {
          color: #4c75a3;
        }
      }
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 15px;

      &__hidden {
        display: none;
      }

      li {
        font-size: 18px;

        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          font-size: 18px;

          &:hover {
            text-decoration: underline;
          }
        }

        a {
          color: #000;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  &-under {
    background-color: #000;
    color: rgba(173, 173, 173, 1);
    padding: 20px 0;
    text-align: center;

    &__link {
      color: rgba(173, 173, 173, 1);
      text-decoration: none;
      transition: all 0.2s ease-in-out;

      &:hover {
        text-decoration: underline;
        color: #fff;
      }
    }
  }
}

@media (max-width: 1560px) {
  .footer {
    &-inner {
      padding: 50px 0;
    }
  }
}

@media (max-width: 1400px) {
  .footer {
    &-logo {
      width: 200px;

      &__partner {
        h1 {
          font-size: 12px;
        }

        img {
          height: auto;
        }
      }
    }
  }
}

@media (max-width: 1190px) {
  .footer {
    &-info {
      &__link,
      &__contact,
      &__mobile {
        gap: 10px;

        h1 {
          font-size: 18px;
        }
      }

      &-list {
        gap: 10px;

        li {
          font-size: 14px;
        }
      }
    }
  }
}

@media (max-width: 1080px) {
  .footer {
    &-info {
      &__link {
        &:nth-child(2) {
          display: none;
        }
      }

      &-list {
        &__hidden {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 910px) {
  .footer {
    &-info {
      &__contact {
        max-width: 300px;
      }
    }

    &-under {
      p {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 810px) {
  .footer {
    &-logo {
      margin: 0;
    }

    &-inner {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    &-info {
      flex-direction: column;

      &__contact {
        display: none;
      }

      &__mobile {
        display: flex;
        grid-column: 1 / 3;
      }
    }
  }
}

@media (max-width: 600px) {
  .footer {
    &-logo {
      width: 100%;

      img {
        width: 200px;
      }

      &__partner {
        h1 {
          font-size: 16px;
        }
      }
    }

    &-inner {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-info {
      &__link,
      &__contact {
        display: flex;
        align-items: center;
      }

      &__contact {
        h1 {
          display: none;
        }
        .footer-info-list {
          align-items: start;
        }
      }

      &__mobile {
        display: none;
      }

      &-list {
        align-items: center;
      }
    }

    &-under {
      font-size: 12px;
    }
  }
}
