@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "./topbar.scss";
@import "./header.scss";
@import "./welcome.scss";
@import "./about.scss";
@import "./about-card.scss";
@import "./form.scss";
@import "./products.scss";
@import "./product.scss";
@import "./footer.scss";
@import "./certificates.scss";
@import "./sidebar.scss";
@import "./top-scroll-btn.scss";
@import "./documents.scss";

$main-color: #73c27e;
$main-color-active: #61a36a;

body {
  font-family: "Montserrat", sans-serif;
  background: rgba(243, 243, 243, 1);
}

.hidden {
  overflow: hidden;
}

:host {
  display: block;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1550px;
  margin: 0 auto;
  padding: 0 40px;
}

.btn {
  display: inline-block;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  &_type-1 {
    cursor: pointer;
    background: transparent;
    color: #000;
    border: none;
    font-size: 16px;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0;
    transition: 0.2s ease-in-out;

    &:hover {
      color: $main-color;
    }

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background-color: #000;
      bottom: 0px;
      left: 0;
      transform: scaleX(0);
      transition: 0.2s ease-in-out;
    }

    &:hover::after {
      transform: scaleX(1);
      background-color: $main-color;
    }
  }

  &_type-2 {
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    background: $main-color;
    color: #fff;
    border: none;
    font-size: 16px;
    position: relative;
    padding: 15px 20px;
    transition: 0.2s ease;
    border-radius: 40px;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);

    &.active {
      color: #fff !important;
    }

    &:hover {
      box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
      background-color: $main-color-active;
    }
  }
}

.title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

@media (max-width: 720px) {
  .container {
    padding: 0 20px;
  }

  .title {
    font-size: 32px;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: 24px;
  }
}
