.product {
  display: flex;
  gap: 50px;

  &-img {
    padding: 0 60px;

    img {
      max-width: 300px;
    }
  }

  &-description {
    display: flex;
    flex-direction: column;
    gap: 15px;

    h1 {
      font-weight: 700;
      font-size: 24px;
      line-height: 39px;
    }

    p {
      font-weight: 400;
      line-height: 21px;
    }
  }

  &-text {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;

    span {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &-compound {
    h1 {
      margin-bottom: 10px;
    }

    &__list {
      list-style: none;
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: -20px;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #73c27e;
        }
      }
    }
  }

  &-more {
    &_btn {
      display: none;
      cursor: pointer;
      text-decoration: none;
      color: #73c27e;
      font-size: 18px;
      font-weight: 500;
      padding-top: 10px;

      &.open {
        &::before {
          content: "Скрыть";
        }
      }

      &::before {
        content: "Еще...";
      }
    }
  }
}

@media (max-width: 1120px) {
  .product {
    &-img {
      padding: 0;
    }

    &-text {
      height: 105px;
      overflow: hidden;
      transition: all 0.2s ease-in-out;

      &.open {
        &::before {
          display: none;
        }
      }

      &::before {
        width: 100%;
        height: 10px;
        top: 100%;
        left: 0;
        content: "";
        position: absolute;
        box-shadow: 0px 0px 40px 40px #fff;
      }
    }

    &-more {
      &_btn {
        display: inline-block;
      }
    }
  }
}

@media (max-width: 900px) {
  .product {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .product {
    &-description {
      h1 {
        font-size: 20px;
        line-height: 26px;
      }

      p {
        font-size: 14px;
        line-height: 17px;
      }

      span {
        font-size: 14px;
        line-height: 17px;
      }
    }

    &-more {
      &_btn {
        font-size: 16px;
      }
    }

    &-compound {
      h1 {
        font-size: 16px;
        line-height: 20px;
      }

      &__list {
        gap: 5px;

        li {
          font-size: 14px;
          line-height: 17px;
        }
      }
    }
  }
}
