app-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  pointer-events: none;
}

.sidebar {
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: none;

  &.open {
    pointer-events: all;

    .sidebar {
      &-menu {
        right: 0;
      }

      &-bg {
        opacity: 0.5;
      }
    }
  }

  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    z-index: 199;
  }

  &-burger {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  &-menu {
    position: absolute;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    background-color: #fff;
    z-index: 202;
    padding: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;

    &__logo {
      position: relative;
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 2px solid #73c27e;
      display: flex;
      gap: 10px;

      img {
        width: 100%;
        display: block;
        flex: 1;
      }
    }

    &__list {
      padding-top: 10px;
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    &__item {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 10px 0;

      button {
        &.active {
          color: #73c27e;

          &::after {
            transform: scaleX(1);
            background-color: #73c27e;
          }
        }
      }
    }

    &__footer {
      p {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        color: #000;
        opacity: 0.5;
      }
    }
  }

  .btn_type-2 {
    width: 100%;
  }
}
