app-top-scroll-btn {
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 150;
}

.top-scroll-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: #73c27e;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.2);
  transform: translateY(0);

  &.hidden {
    transform: translateY(100px);
  }

  svg {
    width: 30px;
    height: 30px;
  }

  &:hover {
    background-color: #61a36a;
  }
}

@media (max-width: 460px) {
  app-top-scroll-btn {
    right: 20px;
    bottom: 20px;
  }
}
