<template id="topbar-template">
  <div class="topbar">
    <app-container>
      <div class="topbar-info">
        <div class="topbar-info__tel">
          <img src="../../assets/icons/phone.svg" alt="phone" />
          <a href="tel:+79999999999">+7 (999) 999-99-99</a>
        </div>
        <div class="topbar-info__email">
          <img src="../../assets/icons/email.svg" alt="email" />
          <a href="mailto:email@test.com">email@test.com</a>
        </div>
      </div>
    </app-container>
  </div>
</template>
