<template id="topbar-template">
  <div class="topbar">
    <app-container>
      <div class="topbar-info">
        <div class="topbar-info__tel">
          <img src="../../assets/icons/phone.svg" alt="phone" />
          <a href="tel:+79193297058">+7 (919) 329-70-58</a>
        </div>
        <div class="topbar-info__email">
          <img src="../../assets/icons/email.svg" alt="email" />
          <a href="mailto:polinaandreeva05@inbox.ru">polinaandreeva05@inbox.ru</a>
        </div>
      </div>
    </app-container>
  </div>
</template>
