<template id="header-template">
  <div class="header-stiky">
    <app-container>
      <div class="header">
        <div class="header-logo">
          <a href="">
            <img src="../../assets/icons/logo.svg" alt="logo" />
          </a>
        </div>
        <nav class="header-actions">
          <button data-target="about" class="btn_type-1">О нас</button>
          <button data-target="whatWeDo" class="btn_type-1">
            Что мы делаем
          </button>
          <button data-target="products" class="btn_type-1">Продукция</button>
          <button data-target="certificates" class="btn_type-1">
            Сертификаты
          </button>
          <button data-target="contact" class="btn_type-1">Контакты</button>
          <button data-target="form" class="btn_type-2">Задать вопрос</button>
        </nav>
        <button class="header-burger">
          <span class="header-burger__line"></span>
          <span class="header-burger__line"></span>
          <span class="header-burger__line"></span>
        </button>
      </div>
    </app-container>
  </div>
</template>
